h1 b{
    color: #8C0209;
}
/*ID*/
#content1{
    color: #8C0209;
    padding-top: 5px;
    padding-left: 20px;
    font-size: 20px;
}
/*Class*/
.content1{
    color: #8C0209;
    padding-left: 20px;
}
.content2{
    color: #080808;
    padding-left: 20px;
    text-align: justify;
}